<div class="comment bg-white shadow-md rounded-xl p-4 mb-4">
  <div class="comment-title flex items-center gap-3">
    <img src="../../../../assets/images/avatars/image-amyrobson.png" alt="Amy Robson">
    <h2 class="font-semibold">amyrobson</h2>
    <p class="text-gray-400">1 month ago</p>
  </div>
  <div class="comment-desc my-3">
    <p class="text-gray-600 font-medium">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla explicabo,
      obcaecati
      officiis laboriosam eos iste
      amet aliquam nisi necessitatibus facilis cupiditate sed assumenda eius voluptatem sit.</p>
  </div>
  <div class="comment-footer flex items-center justify-between">
    <counter></counter>
    <button class="replyBtn flex items-center gap-1 font-semibold">
      <mat-icon>reply</mat-icon>
      <!-- <mat-icon>reply_all</mat-icon> -->
      <span>Reply</span>
    </button>
  </div>
</div>
