<div class="comment bg-white shadow-md rounded-xl p-4 mb-4">
  <div class="comment-title flex items-center gap-3">
    <img [src]="comment.user.image.png" class="w-8" alt="Amy Robson">
    <h2 class="font-semibold text-indigo-900">
      {{comment.user.username}}
      <span *ngIf="comment.user.username === currentUser?.username"
        class="bg-indigo-900/75 text-white text-xs ml-1 px-2 py-1 rounded-sm">you</span> </h2>
    <p class="text-gray-400">{{comment.createdAt}}</p>
  </div>
  <div class="comment-desc my-3">
    <p class="text-gray-500 font-medium">{{comment.content}}</p>
  </div>
  <div class="comment-footer flex items-center justify-between">
    <counter [score]="comment.score"></counter>
    <button (click)="newReply()" *ngIf="comment.user.username !== currentUser?.username"
      class="replyBtn flex items-center gap-1 font-semibold text-indigo-900/75 hover:text-indigo-900/50">
      <mat-icon>reply</mat-icon>
      <span>Reply</span>
    </button>
    <div *ngIf="comment.user.username === currentUser?.username" class="replyBtn flex items-center gap-3 font-semibold">
      <button (click)="deleteComment(comment)" class="text-red-600/75 hover:text-red-600/50 flex items-center text-sm">
        <mat-icon class="text-base">delete</mat-icon>
        <span>Delete</span>
      </button>
      <button (click)="editComment(comment)"
        class="text-indigo-900/75 hover:text-indigo-900/50 flex items-center text-sm">
        <mat-icon class="text-base">edit</mat-icon>
        <span>Edit</span>
      </button>
    </div>
  </div>
</div>

<!--NEW REPLY-->
<div *ngIf="isReply">
  <add-comment (newReply)="newReply()" [replyingTo]="comment.user.username"></add-comment>
</div>


<!--REPLIES-->
<div class="replies pl-4 border-l-2 sm:pl-5 sm:ml-5 md:pl-7 md:ml-7" *ngIf="comment.replies">
  <div *ngFor="let reply of comment.replies">
    <reply [reply]="reply" [currentUser]="currentUser"></reply>
  </div>
</div>
