<div class="comment bg-white shadow-md rounded-xl p-4 mb-4">
  <div class="comment-title flex items-center gap-3">
    <img [src]="comment.user.image.png" class="w-8" alt="Amy Robson">
    <h2 class="font-semibold">{{comment.user.username}}</h2>
    <p class="text-gray-400">{{comment.createdAt}}</p>
  </div>
  <div class="comment-desc my-3">
    <p class="text-gray-600 font-medium">{{comment.content}}</p>
  </div>
  <div class="comment-footer flex items-center justify-between">
    <counter [score]="comment.score"></counter>
    <button class="replyBtn flex items-center gap-1 font-semibold">
      <mat-icon>reply</mat-icon>
      <!-- <mat-icon>reply_all</mat-icon> -->
      <span>Reply</span>
    </button>
  </div>
</div>
